<section class="estoque-section">
  <div class="grid-estoque">
    <div class="card-carro" *ngFor="let c of carros" (click)="verDetalhes.emit(c)">
      <div class="card-img">
        <img [src]="c.foto" [alt]="c.modelo">
        <span class="badge-categoria">{{ c.categoria }}</span>
      </div>
      <div class="card-body">
        <small>{{ c.marca }}</small>
        <h3>{{ c.modelo }}</h3>
        <p class="card-desc">{{ c.descricao }}</p>
        <div class="card-footer">
          <span class="preco">R$ {{ c.preco | number:'1.2-2' }}</span>
          <span class="ano">{{ c.ano_modelo }}</span>
        </div>
      </div>
    </div>
  </div>
</section>